.products{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin: 40px auto;
    text-align: center;
    justify-content: center;
    h2{
        font-size: 2.5rem;
        margin-bottom: 15px;
        
    }
    .title{
        text-align: center;
        font-size: 2rem;
        margin-bottom: 20px;
        font-weight: 700;
        font-family: 'Montserrat', sans-serif;
        color: #000;
        transition: all 0.3s ease;
        margin: 0 auto;
        &:hover{
            color: #E1610C;
            font-weight: 600;
            
        }
    }
}
.products {
    max-width: 100%;
    margin: 0 auto;
    padding: 20px;
  }
  
  .swiper-slide {
    display: flex;
    justify-content: center;
  }
.swiper-pagination-bullets {
    width: 12px;
    height: 12px;
    opacity: 1;
    bottom: 8px !important;
  }
  
  .swiper-pagination-bullet-active {
    background: #E1610C !important;
    transform: scale(1.2);
    opacity: 1;
  }

//   button
/* Кастомизация стрелок навигации */
.swiper-button-prev,
.swiper-button-next {
  color: #E1610C !important; 
  width: 40px;
  height: 40px;
  background: none !important;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  font-size: 20px; 
  font-weight: bold;
}

.swiper-button-prev {
  left: 10px;
}
.swiper-button-next {
  right: 10px;
}


