.emptyFavorites {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 300px;
    text-align: center;
    padding: 30px;
    border-radius: 12px;
    background-color: #f8f8f8;
    margin: 20px 0;
    gap: 15px;
  
    .heartIcon {
      width: 48px;
      height: 48px;
      color: #ff7300;
      stroke-width: 1.5;
      margin-bottom: 10px;
      cursor: pointer;
    }
  
    .title {
      font-size: 20px;
      font-weight:000;
      color: #333;
      margin: 0;
    }
  
    .text {
      font-size: 16px;
      color: #666;
      margin: 0;
      max-width: 300px;
    }
  
    .hint {
      font-size: 14px;
      color: #999;
      margin-top: 10px;
      font-style: italic;
    }
  }