
  
  .faq-item {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 12px;
    overflow: hidden;
    transition: all 0.5s ease; /* Плавные переходы */
  }
  
  .faq-item:hover {
    transform: translateY(-4px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
  }
  
  .faq-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 24px;
    width: 100%;
    background-color: transparent;
    border: none;
    text-align: left;
    font-size: 18px;
    font-weight: 600;
    color: #333;
    cursor: pointer;
    transition: all 0.3s ease; /* Плавный эффект при ховере */
    a{
      text-decoration: none;

    }
   
    &:hover .a-href span {
      color: #ff7f50;
    }
  }
  
  .faq-button:hover {
    color: #ff7f50;
    transition: all 0.3s ease; 
  }
  
  .faq-button span {
    font-size: 22px;
    transition: transform 0.3s ease; /* Плавное вращение стрелки */
  }
  
  .faq-item.open .faq-button span {
    transform: rotate(180deg); /* Стрелка поворачивается при открытии */
  }
  
  .faq-answer {
    max-height: 0;
    opacity: 0;
    padding: 0 24px;
    font-size: 16px;
    color: #555;
    overflow: hidden;
    transition: max-height 0.5s ease, opacity 0.5s ease; 
  }
  
  .faq-item.open .faq-answer {
    max-height: 200px;  
    opacity: 1;
    padding: 12px 24px;
  }
  .faq-service-list {
    margin-top: 12px;
    list-style: none;
    padding: 0;
    max-height: 16  0px; 
    overflow-y:scroll;
    scrollbar-width: thin; 
    scrollbar-color: #ccc transparent;
  
    li {
      display: flex;
      justify-content: space-between;
      padding: 8px 0;
      border-bottom: 1px dashed #ddd;
  
      span {
        font-size: 16px;
        color: #444;
  
        &:last-child {
          font-weight: 600;
          color: #000;
        }
      }
  
      &:last-child {
        border-bottom: none;
      }
    }
  
    /* Кастомный скроллбар для WebKit (Chrome, Safari) */
    &::-webkit-scrollbar {
      width: 6px;
    }
  
    &::-webkit-scrollbar-track {
      background: transparent;
    }
  
    &::-webkit-scrollbar-thumb {
      background-color: #ccc;
      border-radius: 4px;
    }
  }
  
  
  
  

  
  
  
   