.product-list {
  
    display: flex;
    flex-wrap: wrap;
    width: 1400px;
    gap: 16px;
    margin: 100px auto;
    justify-content: center;
    align-items: center;
  
    .card {
      border-radius: 8px;
      overflow: hidden;
      background: #181818;
      color: white;
      box-shadow: 0 4px 8px rgba(0,0,0,0.2);
      width: 400px;
      height: 462px;
      
  
      img {
        width: 400px;
        height: 195px;
        object-fit: cover;
      }
  
      .content {
        padding: 12px;
  
        .date {
          font-size: 0.9rem;
          color: #aaa;
        }
  
        h3 {
          font-size: 1rem;
          margin: 8px 0;
        }
  
        a {
          color: #8f4403;
          text-decoration: none;
          font-weight: bold;
          &:hover {
            text-decoration: underline;
          }
       
        }
        h6{
            color: #a7550e;
font-family: Inter;
font-size: 16px;
font-weight: 400;
line-height: 160%;
letter-spacing: 0%;
text-align: left;
        }
        h5{
            font-size: 0.9rem;
            color: #aaa;
        }
        p{
            /* desk mob subhead */
color: rgb(255, 255, 255);
font-family: Inter;
font-size: 18px;
font-weight: 300;
line-height: 160%;
letter-spacing: 1%;
text-align: left;
width: 385px;
height: 60px;
        }
      
      }
      .icon{
        display: flex;
        flex-wrap: wrap;
        gap: 5px;
        width: 40px
  
    }
    }
  }
  
  .button-wrapper {
    text-align: center;
    margin: 0 auto;
    margin-left: -100px                                           ;
  
    button {
      padding: 10px 10px;
      background: #b97234;
      border: none;
      border-radius: 4px;
      color: black;
      font-weight: bold;
      cursor: pointer;
      &:hover {
        background:  #8f4403;
      }
    }
  }