$primary: #F57520;

.loader {
  border: 5px solid transparent;
  border-bottom: 5px solid $primary;
  padding: 1em;
  border-radius: 50%;
  rotate: 180deg;
  animation: loader 0.9s cubic-bezier(0.17, 0.67, 0.83, 0.67) infinite;
  animation-delay: 0.1s;
  animation-fill-mode: forwards;
  max-width: 60px;
  max-height: 60px;
  margin: 50px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}

@keyframes loader {
  0% {
    rotate: 180deg;
  }
  100% {
    rotate: -180deg;
  }
}

.circle {
  border-radius: 0.25em;
  width: 1em;
  height: 1em;
  background-color: $primary;

  animation: circle 0.5s cubic-bezier(0.17, 0.67, 0.83, 0.67) infinite;
  animation-delay: 0.1s;
  animation-fill-mode: forwards;
  transform-origin: center;
}

@keyframes circle {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(1.1);
  }
  50% {
    transform: scale(1.8); 
  }
  75% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
