@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
}

.wrapper{
  width: 100%;
  max-width: 1940px;
    margin: 0 auto;
}

.container{
    width: 1300px;
    margin: 0 auto;
}
.color-button{
    background: #F57520;
    color: #fff;
    border: none;

    &:hover{
    background: #F57F2A;
    }
    &:active{
        background: #E1610C;
    }
}

a{
    text-decoration: none;
    
}